products {
    counter-reset: section;
}
games {
    float: left;
    border-style: solid;
    border-width: thin;
    border-color: black;
    margin: 10px;
    background-color:pink;
}
game::before {
    counter-increment: section;
    content: "AUTOMATYCZNE NUMEROWANIE ZA POMOCĄ CSS(MÓJ ORYGINALNY POMYSŁ)" counter(section) ": ";
}
game {
    margin: 5px;
    display: block;
    border-style: solid;
    border-width: thin;
    border-color: red;
}
game:hover {
    background-color: beige;
}
album:hover {
    background-color: blue;
}
e-book:hover {
    background-color: orange;
}
film:hover {
    background-color: orangered;
}
films {
    float: left;
    border-style: solid;
    border-width: thin;
    border-color: black;
    margin: 10px;
    background-color:greenyellow;
}
film {
    margin: 5px;
    display: block;
    border-style: solid;
    border-width: thin;
    border-color: red;
}
e-books {
    float: left;
    border-style: solid;
    border-width: thin;
    border-color: black;
    margin: 10px;
    background-color:blueviolet;
}
e-book {
    margin: 5px;
    display: block;
    border-style: solid;
    border-width: thin;
    border-color: red;
}
music {
    float: left;
    border-style: solid;
    border-width: thin;
    border-color: black;
    margin: 10px;
    background-color:rosybrown;
}
album {
    margin: 5px;
    display: block;
    border-style: solid;
    border-width: thin;
    border-color: red;
}
price {
    font-size: 10px;
    display:block;
}
price:before {
    content: "price ";
}
table {
    color: whitesmoke;
    font-size: 36px;
    border: 5px solid black;
    margin: 10px;
    background-color: burlywood;
}
table td {
    border: 2px solid black;
}
table tr {
    border: 2px solid black;
}
table th {
    border: 2px solid black;
}
table price {
    font-size: 24px;
}
h1 {
    color: orange;
    font-size: 48px;
    font-family: "Comic Sans MS";
}
#odd {
    background-color: rosybrown;
}
#even {
    background-color: cadetblue;
}
body {
    background-image: url("data/doge.jpg") ;
    background-repeat: no-repeat;
    font-family: "MS Gothic";
}
.main {
    margin-left: 40%;
    margin-top: 20%;
    max-width: 700px;
}
